@font-face {
    font-family: 'Windows 95';
    src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../assets/background_1.png");
}

.form{
    background-image: url("../assets/text_background2.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2em;
    padding: 1em;
}

.nickname{
    font-family: 'Windows 95';
    font-size: 0.9vw;
}

.story{
    font-family: 'Windows 95';
    font-size: 0.9vw;
}

.title{
    background-image: url("../assets/text_background3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Windows 95';
    font-size: 0.9vw;
    text-align: center;
    margin: auto;
    width: 15%;
    padding: 0.5em;
}

.goback{
    margin-bottom: 3em;
}

#warning{
    font-family: 'Windows 95';
    font-size: 0.7vw;
    padding: 0.5em;
}

#btn-submit{
    font-family: 'Windows 95';
    font-size: 0.8vw;
    padding: 0.5em;
}

#btn-homepage{
    padding: 20px 15px 15px 32px;
    background: #e9e9e9 url("../assets/message.png") 2px 2px no-repeat;
}


