@font-face {
    font-family: 'Windows 95';
    src: url('../fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../assets/background_1.png");
}

.form{
    background-image: url("../assets/text_background2.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 2em;
    padding: 1em;
}

.nickname{
    font-family: 'Windows 95';
    font-size: 0.9vw;
}

.story{
    font-family: 'Windows 95';
    font-size: 0.9vw;
}

.title{
    background-color: white;
    font-family: 'Windows 95';
    font-size: 1.1vw;
    text-align: center;
    margin: auto;
    width: 15%;
    padding: 0.5em;
}
